.button {
   background: transparent;
   outline: none;
   border: none;
   cursor: pointer;
   height: 2.5rem;
   width: 2.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.1rem;
   border-radius: 2.5rem;
   color: var(--muted-font-color);

   //    overflow: hidden;

   transition: background-color 0.3s;

   &:active {
      background-color: var(--muted-border-color);
   }
}
